* {
  font-family: arial, sans-serif;
}

h1 {
  font-size: 1em;
  font-weight: bold;
  background-color: #ffce99;
  color: #d3784a;
  padding: 0.8em 0 .6em .6em;
}

h2 {
  font-size: .8em;
  padding-left: .6em;
}

#number-of-friends {
  color: red;
}
