*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: arial, sans-serif;
}

h1 {
  font-size: 1em;
  font-weight: bold;
  background-color: #ffce99;
  color: #d3784a;
  padding: 0.8em 0 .6em .6em;
}

h2 {
  font-size: .8em;
  padding-left: .6em;
}

#number-of-friends {
  color: red;
}

.friend {
  width: 20%;
  float: left;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.name, .headshot, .online-now {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  color: #5371bc;
  font-size: .8em;
  text-align: center;
}

.headshot {
  border: solid #5371bc 2px;
  width: 90%;
}

#all-friends {
  font-size: .8em;
  color: red;
  float: right;
  margin-top: 2em;
  font-weight: bold;
  text-decoration: none;
  margin-right: .6em;
}
